.CardPokemon{
  width: 100%;
  background-color: var(--red);
  padding: 25px;
  border: 2px solid black;
}
.card_pokemon_container{
  max-width: 600px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2); 
  background: rgb(124,167,149);
  background: linear-gradient(0deg, rgba(124,167,149,1) 5%, rgba(60,73,73,1) 29%, rgba(0,0,0,1) 56%); 
}
.screen_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pokemon_types{
  width: 100%;
  max-width: 200px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.pokemon_types h2{
  color: white;
  font-size: 1.5rem;
}

.type{
  width: 100%;
  padding: 5px 5px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}
.type1{
  background-color: var(--normal);
}
.type2{
  background-color: yellow;
}
.btn_powers{
  width: 60px;
  height: 60px;
  border-radius: 50% 50%;
  cursor: pointer;
  border: 5px solid red;
  background: rgb(167,138,124);
  background: linear-gradient(0deg, rgba(167,138,124,1) 5%, rgba(208,12,12,1) 100%); 
  transition-duration: 0.5s;
}
.btn_powers:hover{
  color: white;
  border: 5px solid blue;
  background: rgb(167,138,124);
  background: linear-gradient(0deg, rgba(167,138,124,1) 1%, rgba(23,11,228,1) 57%); 
  transition-duration: 0.8s;
}
.btn_powers p{
  font-size: 2rem;
}