:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --red: #c60d0d;
  --yellow: #cfe62f;
  --green: #00bf2a;
  --green-dark: #31a23a;
  --blue: #340ff3;
  --blue-sky: #7dd7f3;
  --gray: #d4d4d4;
  --white: #FFFFFF;
  --black: #000000;
  /*Colot type pokemon*/
  --electric: #FFEA70;
  --normal: #B09398;
  --fire: #FF675C;
  --water: #0596C7;
  --ice: #7dd7f3;
  --rock: #999799;
  --flying: #7AE7C7;
  --grass: #4A9681;
  --psychic: #FFC6D9;
  --ghost: #83545b;
  --bug: #A2FAA3;
  --poison: #795663;
  --ground: #D2B074;
  --dragon: #DA627D;
  --steel: #1D8A99;
  --fighting: #2F2F2F;
  --default: #2A1A1F;
  --dark: #413d3d;
}
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  padding: 50px;
  font-family: sans-serif;  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background-image: url("./assets/image/paisaje_fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.container1{
  max-width: 600px;
  background-color: var(--red);
  margin: 0 auto;
}
.hiden_elemnt{
  display: none;
}
.shadow{
  box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.2); 
}
.paddinX{
  padding: 0 20px;
}
.paddinY{
  padding: 20px 0;
}
.paddinBox{
  padding: 20px 20px;
}

/**Pokemon's colors***/
.color_electric{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--electric) 33%);
  background-size: 3px 3px;
  color: black;
  font-size: 1rem;
} 
.color_normal{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--normal) 33%);
  background-size: 3px 3px;
  color: white;
  font-size: 1rem;
} 
.color_fire{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--fire) 33%);
  background-size: 3px 3px;
  color: white;
  font-size: 1rem;
} 
.color_water{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--water) 33%);
  background-size: 3px 3px;
  color: white;
  font-size: 1rem;
} 
.color_ice{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--ice) 33%);
  background-size: 3px 3px;
  color: black;
  font-size: 1rem;
} 
.color_rock{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--rock) 33%);
  background-size: 3px 3px;
  color: white;
  font-size: 1rem;
} 
.color_flying{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--flying) 33%);
  background-size: 3px 3px;
  color: white;
  font-size: 1rem;
}
.color_grass{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--grass) 33%);
  background-size: 3px 3px;
  color: white;
  font-size: 1rem;
} 
.color_psychic{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--psychic) 33%);
  background-size: 3px 3px;
  color: black;
  font-size: 1rem;
}
.color_ghost{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--ghost) 33%);
  background-size: 3px 3px;
  color: white;
  font-size: 1rem;
} 
.color_bug{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--bug) 33%);
  background-size: 3px 3px;
  color: black;
  font-size: 1rem;
}
.color_poison{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--poison) 33%);
  background-size: 3px 3px;
  color: white;
  font-size: 1rem;
}
.color_ground{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--ground) 33%);
  background-size: 3px 3px;
  color: black;
  font-size: 1rem;
}
.color_dragon{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--dragon) 33%);
  background-size: 3px 3px;
  color: black;
  font-size: 1rem;
}
.color_steel{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--steel) 33%);
  background-size: 3px 3px;
  color: white;
  font-size: 1rem;
}
.color_fighting{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--fighting) 33%);
  background-size: 3px 3px;
  color: white;
  font-size: 1rem;
}
.color_default{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--default) 33%);
  background-size: 3px 3px;
  color: white;
  font-size: 1rem;
}
.color_dark{
  text-transform: uppercase;
  background: radial-gradient(black 33%, var(--dark) 33%);
  background-size: 3px 3px;
  color: white;
  font-size: 1rem;
}