:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --red: #fe0000;
  --yellow: #cfe62f;
  --green: #00bf2a;
  --green-dark: #31a23a;
  --blue: #340ff3;
  --blue-sky: #7dd7f3;
  --gray: #d4d4d4;
  --white: #FFFFFF;
  --black: #000000;
  /*Colot type pokemon*/
  --electric: #FFEA70;
  --normal: #B09398;
  --fire: #FF675C;
  --water: #0596C7;
  --ice: #AFEAFD;
  --rock: #999799;
  --flying: #7AE7C7;
  --grass: #4A9681;
  --psychic: #FFC6D9;
  --ghost: #561D25;
  --bug: #A2FAA3;
  --poison: #795663;
  --ground: #D2B074;
  --dragon: #DA627D;
  --steel: #1D8A99;
  --fighting: #2F2F2F;
  --default: #2A1A1F;
}
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: sans-serif;  
}
img{
  width: 100%;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.container1{
  max-width: 450px;
  background-color: var(--red);
}
.hiden_elemnt{
  display: none;
}
.shadow{
  box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.2); 
}
.paddinX{
  padding: 0 20px;
}
.paddinY{
  padding: 20px 0;
}
.paddinBox{
  padding: 20px 20px;
}

/**Pokemon's colors***/
.color_electric{
  background-color: var(--electric);
} 
.color_normal{
  background-color: var(--normal);
} 
.color_fire{
  background-color: var(--fire);
} 
.color_water{
  background-color: var(--water);
} 
.color_ice{
  background-color: var(--ice);
} 
.color_rock{
  background-color: var(--rock);
} 
.color_flying{
  background-color: var(--flying);
}
.color_grass{
  background-color: var(--grass);
} 
.color_psychic{
  background-color: var(--psychic);
}
.color_ghost{
  background-color: var(--ghost);
} 
.color_bug{
  background-color: var(--bug);
}
.color_poison{
  background-color: var(--poison);
}
.color_ground{
  background-color: var(--ground);
}
.color_dragon{
  background-color: var(--dragon);
}
.color_steel{
  background-color: var(--steel);
}
.color_fighting{
  background-color: var(--fighting);
}
.color_default{
  background-color: var(--default);
}